# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\project\202107\MaskVote\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
